/* Estilos padrão para o corpo e HTML */
body,
html {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
    background-color: #1d2428;
    background-image: url(/images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Lucida Sans';
}

/* Estilos para o container de cadastro */
.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-header {
    background-color: #02a154;
    width: 100%;
    height: auto;
    text-align: center;
    border-radius: 20px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-content {
    background-color: #36704c;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 400px;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    margin: 10px 0;
}
.form-group {
    text-align: left;
    color: white;
    position: relative;
    margin: 20px 0;
    border-bottom: 2px solid #fff;
}

.form-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding-bottom: 5px;
    color: #fff;
}

input:focus ~ label,
input:valid ~ label {
    top: 0px;
}

.btn-signup {
    width: 100%;
    background-color: #39d2c0;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-signup:hover {
    background-color: #39d2c085;
}

footer {
    background-color: #02a154;
    color: white;
    text-align: center;
    padding: 12px 0;
    font-size: 12px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}