/* Estilos padrão para o corpo e HTML */
body,
html {
    background-color: #1d2428;
    margin: 0;
    padding: 0;
    color: white;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Lucida Sans';
}

body {
    background-image: url(/images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    background-color: #02a154;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 12px;
}

/* Estilos para o container de login */
.login-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    /* Adicionando espaçamento lateral */
}

/* Estilos para o cabeçalho do login */
.login-header {
    background-color: #02a154;
    width: 100%;
    height: auto;
    text-align: center;
    border-radius: 20px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos para o conteúdo do login */
.login-content {
    text-align: center;
    width: 30%;
}

.login-form {
    background-color: #36704c;
    border-radius: 20px;
    padding: 2rem;
}

/* Estilos para os títulos */
h1 {
    margin: 20px 10px;
    /* Ajustando o tamanho da fonte */
    font-size: 30px;
}

/* Estilos para os grupos de formulário */
.form-group {
    text-align: left;
    color: white;
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}

/* Estilos para os rótulos */
.form-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

.form-group input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 35px 0 5px;
    color: #fff;
}

input:focus ~ label,
input:valid ~ label {
    top: -5px;
}

/* Estilos para o botão de login */
button {
    width: 30%;
    height: 40px;
    border-radius: 40px;
    background-color: #39d2c0;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.4s ease;
}

.btn-login:hover {
    background-color: #39d2c085;
}

/* Estilos para a opção de cadastro */
.signup-option {
    margin: 20px 0;
    font-size: 14px;
    /* Ajustando o tamanho da fonte */
}

/* Estilos para o link de cadastro */
.signup-link {
    color: #39d2c0;
    text-decoration: none;
}

.signup-link:hover {
    text-decoration: underline;
}