body {
    background-image: url(/images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

section {
    flex: 0 1;
    height: 100%;
}

header {
    width: 100%;
    border-radius: 20px;
}

form {
    border-radius: 20px;
    padding: 2rem;
    transition: all 0.5s ease;
}

footer {
    font-size: 12px;
}

/* Estilos para o botão de login */
button {
    height: 40px;
    background-color: #0eb68c;
    border: none;
    outline: none;
    color: white;
    font-weight: 600;
    transition: all 0.5s ease;
}

.btn-style {
    border-radius: .375rem;
}

.btn-style:hover {
    background-color: #0eb68cbb
}

/* Estilos para o link de cadastro */
.signup-link {
    color: #39d2c0;
    text-decoration: none;
}

.signup-link:hover {
    text-decoration: underline;
}