body, html {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #434e57;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(103, 230, 191, 0.1);
    padding: 25px;
    margin: 20px auto;
    flex: 0 1;
}

h3 {
    text-align: center;
    padding-bottom: 1rem;
}

#addItemBtn {
    height: 70px;
    width: 70px;
    border-radius: 10px;
}

.swal2-popup {
    background-color: #095230;
    border-radius: 20px;
    color: white;
}


td {
    vertical-align: middle;
}

footer {
    bottom: 0;
    font-size: 12px;
    width: 100%;
}