html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1d2428;
  font-family: 'Lucida Sans';
}

header {
  background-color: #02a154;
  color: white;
  padding: 10px 0;
  text-align: center;
}

.page-title {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin: 20px 10px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 10px;
}

section {
  flex: 1;
  margin-left: 10px;
}

.editable-input {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.product {
  align-items: center;
  display: flex;
  text-align: left;
}

.product img {
  margin-right: 10px;
}

#cartTable {
  border-collapse: collapse;
  color: white;
  margin-bottom: 20px;
  width: 100%;
}

#cartTable th,
#cartTable td {
  border: 1px solid #ccc;
  padding: 8px;
}

#cartTable th {
  background-color: #262d34;
  text-align: left;
}


#cartTable td {
  text-align: center;
}

#addProductBtn {
  background-color: #39d2c0;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
}

#addProductBtn:hover {
  background-color: #39d2c085;
}

#finalizeBtn {
  background-color: #39d2c0;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin: 5px 0;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

#finalizeBtn:hover {
  background-color: #39d2c085;
}

.qty button {
  background-color: #4caf50;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  height: 25px;
  text-align: center;
  width: 25px;
}

.qty button:hover {
  background-color: #45a049;
}

.qty span {
  margin: 0 10px;
}

.remove {
  background-color: #f44336;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  height: 25px;
  width: 25px;
}

.remove button:hover {
  background-color: #d32f2f;
}

aside {
  border: 1px solid #ccc;
  flex: 1;
  padding: 10px;
}

.info {
  color: white;
}

.info div {
  display: flex;
  justify-content: space-between;
  padding: 7px 0 7px;
}

.login-content {
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin: 10px 0;
    width: 100%;
}

footer {
  background-color: #02a154;
  bottom: 0;
  color: white;
  font-size: 12px;
  padding: 8px 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

/* Media query  moblie */
@media only screen and (max-width: 600px) {
  .content {
    display: flex;
    flex-direction: column;
  }

  section,
  aside {
    margin-right: 0;
    width: 100%;
  }

  section {
    order: 2;
  }

  aside {
    margin-top: 20px;
    order: 1;
  }
}
